package model

import (
	"github.com/peteryurkovich/perses/cue/common"
	commonProxy "github.com/peteryurkovich/perses/cue/common/proxy"
)

kind: "{{ .PluginPascalName }}"
spec: {
	#directUrl | #proxy
}

#directUrl: {
	directUrl: common.#url
}

#proxy: {
	proxy: commonProxy.#HTTPProxy
}
